<!DOCTYPE html>
<html lang="en">
     <%- include('./partials/head.ejs') %> 

<body>
     <%- include('./partials/nav.ejs') %> 


     <div class="container">
          <div class="blog-section">
               <div class="pos">
                    <h2 >About Us</h2>
                    <p>TechNews is one of the most popular  technology news publishers in the Morocoo. Our Blogs attracts a targeted audience of purchasing decision-makers who need timely tech industry news .</p>

               </div>
           </div>
     </div> 
    

</body>
</html>